/*******************COLORS*******************/
:root {
  --light-blue: #b9cced;
  --light-blueHover: #9ab5e5;
  --light-pink: #f6e5f5;
  --light-pinkHover: #f1daf1;
  --light-beige: #fbf4f9;
  --dark-beige: #f6e7e6;
}

/*******************FONTS*******************/
@font-face {
  font-family: comfortaa;
  src: url(Comfortaa-Regular.ttf);
}

/* Style all elements */
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: comfortaa;
  margin: 0;
  background-color: var(--light-beige);
}

p {
	font-size:26px;
	margin: 100px 100px 100px 100px;
}

/****************************HEADER*********************************/
/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white; 
  position: relative;
  opacity: 0.75;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/cloudyBanner.jpg");
}

/****************************NAV BAR*********************************/
/* Style the top navigation bar */
#navbar {
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  background-color: var(--light-pink);
}

/* Style the navigation bar links */
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  font-size: 26px;
  padding: 14px 20px;
  text-decoration: none;
  color: var(--light-blue);
}

/* Change color on hover */
#navbar a:hover {
  background-color: var(--light-pinkHover);
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/****************************PARALLAX*********************************/
.parallax {
  position: relative;
  opacity: 0.75;
  /* The image used */
  background-image: url("images/cloudyBanner.jpg");

  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #f7f7f7;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  background-color:transparent;
  font-size:25px;
}

/****************************ICONS*********************************/

.affiliateIcon {
  padding: 0px;
}

.affiliateIcon img {
  width: 150px;
  height: 150px;
}

.imageIcons {
  text-align:center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.imageIcons img:hover {
  opacity:0.8;
}

/****************************FOOTER*********************************/
footer {
  background-color: var(--dark-beige);
  color: white;
  text-align: center;
  padding: 3px;
}

footer a {
  color: var(--light-blue);	
}

footer a:hover {
  color: var(--light-blueHover);
}


/****************************RESPONSIVE LAYOUT*********************************/
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}